$navbar-padding-x: 1rem !default;
$navbar-padding-y: 0.5rem !default;
$navbar-light-color: #212529 !default;
$navbar-light-hover-color: #0d6efd !default;
$navbar-light-disabled-color: #6c757d !default;
$navbar-light-active-color: #0d6efd !default;
$navbar-brand-padding-y: 0.5rem !default;
$navbar-brand-margin-end: 1rem !default;
$navbar-brand-font-size: 1.25rem !default;
$navbar-light-brand-color: #0d6efd !default;
$navbar-light-brand-hover-color: darken($navbar-light-brand-color, 10%) !default;
$navbar-nav-link-padding-x: 0.5rem !default;
$navbar-toggler-padding-y: 0.25rem !default;
$navbar-toggler-padding-x: 0.75rem !default;
$navbar-toggler-font-size: 1.25rem !default;
$navbar-light-toggler-icon-bg: #212529 !default;
$navbar-light-toggler-border-color: #dee2e6 !default;
$navbar-toggler-border-radius: 0.25rem !default;
$navbar-toggler-focus-width: 0.2rem !default;
$navbar-toggler-transition: all 0.2s ease-in-out !default;