<script>
  window.pageInitialData = {
    // Usamos 'j' para escapar el contenido y evitar que rompa el JS
    title: "<%= @first_page&.name || 'Título por defecto' %>",
    description: "<%= @first_page&.short_description || 'Descripción por defecto' %>"
  };
</script>

<%= vite_client_tag %>
<%= vite_javascript_tag 'application' %>
<div id="app"></div>