<div id="<%= dom_id user %>">
  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Registrado el:</strong>
    <%= l(user.created_at, format: :default) %>
  </p>

</div>