<div id="<%= dom_id page %>">
  <p>
    <strong>Name:</strong>
    <%= page.name %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= page.group %>
  </p>

  <p>
    <strong>Short description:</strong>
    <%= page.short_description %>
  </p>

</div>
