<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Le informamos que su correo electrónico está siendo cambiado a <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Le informamos que su correo electrónico ha sido cambiado a <%= @resource.email %>.</p>
<% end %>
